// background
.bg {
    &-black {
        background-color: $black;
    }
    &-white {
        background-color: $white;
    }
    &-light-gray {
        background-color: $light-gray;
    }
    &-pink {
        background-color: $pink;
    }
    &-light-pink {
        background-color: $light-pink;
    }

    &-img {
        background-repeat: no-repeat;
        background-size: cover;
    }
}

//text color
.c {
    &-black {
        color: $black;
    }
    &-white {
        color: $white;
    }
    &-light-gray {
        color: $light-gray;
    }
    &-pink {
        color: $pink;
    }
    &-light-pink {
        color: $light-pink;
    }
    &-success {
        color: $green-success;
    }
}

//border color

.bd {
    &-black {
        border-color: $black !important;
    }
    &-white {
        border-color: $white !important;
    }
    &-light-gray {
        border-color: $light-gray !important;
    }
    &-pink {
        border-color: $pink !important;
    }
    &-light-pink {
        border-color: $light-pink !important;
    }
    &-success {
        border-color: $green-success !important;
    }
}
