// GLOBALS SPACING / HEIGHT / WIDTH

@for $i from 0 to 21 {
    //gap (only for flex / grid)

    .g-#{$i} {
        gap: calc($i * 4px) !important;
    }

    //margin
    .m-#{$i} {
        // all
        margin: calc($i * 4px);
    }
    .my-#{$i} {
        // on axe Y
        margin-top: calc($i * 4px);
        margin-bottom: calc($i * 4px);
    }
    .mx-#{$i} {
        // axe X
        margin-left: calc($i * 4px);
        margin-right: calc($i * 4px);
    }
    .mt-#{$i} {
        // top
        margin-top: calc($i * 4px);
    }
    .mb-#{$i} {
        // bottom
        margin-bottom: calc($i * 4px);
    }
    .ml-#{$i} {
        // left
        margin-left: calc($i * 4px);
    }
    .mr-#{$i} {
        // right
        margin-right: calc($i * 4px);
    }

    @include breakpoint(tablet) {
        .xs-g-#{$i} {
            gap: calc($i * 4px) !important;
        }

        //margin
        .xs-m-#{$i} {
            // all
            margin: calc($i * 4px);
        }
        .xs-my-#{$i} {
            // on axe Y
            margin-top: calc($i * 4px);
            margin-bottom: calc($i * 4px);
        }
        .xs-mx-#{$i} {
            // axe X
            margin-left: calc($i * 4px);
            margin-right: calc($i * 4px);
        }
        .xs-mt-#{$i} {
            // top
            margin-top: calc($i * 4px);
        }
        .xs-mb-#{$i} {
            // bottom
            margin-bottom: calc($i * 4px);
        }
        .xs-ml-#{$i} {
            // left
            margin-left: calc($i * 4px);
        }
        .xs-mr-#{$i} {
            // right
            margin-right: calc($i * 4px);
        }
    }

    //padding
    .p-#{$i} {
        // all
        padding: calc($i * 4px);
    }
    .py-#{$i} {
        padding-top: calc($i * 4px);
        padding-bottom: calc($i * 4px);
    }
    .px-#{$i} {
        padding-left: calc($i * 4px) !important;
        padding-right: calc($i * 4px) !important;
    }
    .pt-#{$i} {
        padding-top: calc($i * 4px);
    }
    .pb-#{$i} {
        padding-bottom: calc($i * 4px);
    }
    .pl-#{$i} {
        padding-left: calc($i * 4px);
    }
    .pr-#{$i} {
        padding-right: calc($i * 4px);
    }

    @include breakpoint(tablet) {
        .xs-p-#{$i} {
            // all
            padding: calc($i * 4px) !important;
        }
        .xs-py-#{$i} {
            padding-top: calc($i * 4px) !important;
            padding-bottom: calc($i * 4px) !important;
        }
        .xs-px-#{$i} {
            padding-left: calc($i * 4px) !important;
            padding-right: calc($i * 4px) !important;
        }
        .xs-pt-#{$i} {
            padding-top: calc($i * 4px) !important;
        }
        .xs-pb-#{$i} {
            padding-bottom: calc($i * 4px) !important;
        }
        .xs-pl-#{$i} {
            padding-left: calc($i * 4px) !important;
        }
        .xs-pr-#{$i} {
            padding-right: calc($i * 4px) !important;
        }
    }

    //border
    .bd-#{$i} {
        border: calc($i * 1px) solid $black;
    }
    .bd-t-#{$i} {
        border-top: calc($i * 1px) solid $black;
    }
    .bd-b-#{$i} {
        border-bottom: calc($i * 1px) solid $black !important;
    }
    .bd-l-#{$i} {
        border-right: calc($i * 1px) solid $black;
    }
    .bd-r-#{$i} {
        border-left: calc($i * 1px) solid $black;
    }

    .br-#{$i} {
        border-radius: calc($i * 1px);
    }

    //height
    .h-px-#{$i} {
        height: calc($i * 4px);
    }
    .h-per-#{$i} {
        height: calc($i * 5%) !important;
    }

    .h-em-#{$i} {
        height: calc($i * 4em) !important;
    }

    .min-h-px-#{$i} {
        min-height: calc($i * 8px);
    }

    //width
    .w-px-#{$i} {
        width: calc($i * 4px);
    }

    .w-per-#{$i} {
        width: calc($i * 5%);
    }

    .w-em-#{$i} {
        width: calc($i * 4em);
    }

    //min-height
    .min-h-#{$i} {
        min-height: calc($i * 5%);
    }

    @include breakpoint(tablet) {
        .xs-w-px-#{$i} {
            width: calc($i * 4px);
        }

        .xs-w-per-#{$i} {
            width: calc($i * 5%);
        }

        .xs-w-em-#{$i} {
            width: calc($i * 4em);
        }
    }
    .br-#{$i} {
        border-radius: calc($i * 4px);
    }
}

.w-mobile {
    @include breakpoint(xs){
        width: calc(100% - 48px) !important;
    }
}
