// a revoir trop spécifique 

.img-profile {
    height: 64px;
    width: 64px;
    background-size: 100% 100%;
    background-repeat: no-repeat
}
.recipes {
    @include box-shadow;
    padding: 1em 1.5em;
    h4 {
        margin-top: 0;
        margin-bottom: 1em;
    }
    section {
        @include flex;
    }
   

}

.recette-container {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    height: 400px;
    width: 598px;
    gap: 5em !important;
    padding: 24px;
    overflow: hidden;
    .recette-img {
        transition: .2s ease;
        height: 360px;
        border-radius: 20px;
        overflow: hidden;
        width: 100%;
        min-width: 100%;
        transform: translateX(0%);
        &.hidden-recipe {
            opacity: 0;
            z-index: -1;
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    @include breakpoint(tablet) {
        width: 100%;
        height: 400px;
            
    }
}

.controller {
    display: flex;
    gap: 1em;
    img {
        font-weight: 500;
        cursor: pointer;
    }
}

.cont-ingredient {

    .ingredient-img {
        width: 110px; height: 110px;
        border-radius: 50%;
        background-size: 100% 100%;
        background-position: 50% 50%;
    }
    p {
        text-align: center;
        overflow: visible;
    }
}



.main-article {
    width: 100vw; 
    min-height:100vh; 
   
    @include breakpoint(tablet) {
        & > div > .row:first-child {
            flex-direction: column;
            & >div {
                width: 100%;
            }
        }
    }
}

.reverse {
    @include breakpoint(tablet) {
       flex-direction: column-reverse !important;
    }
}

aside.col-lg-6 {
    @include breakpoint(tablet) {
        width: 100%;
        min-width: calc(100% + 48px) !important;
        align-items: center;
        margin-left: -24px;
    }
}
