// a revoir trop spécifique

.btn {
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
    border-radius: 6px;
    padding: 12px 24px ;
    transition: .3s ease;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &-pink {

        border: 1px solid $pink;
        background-color: $pink;
        &:hover {
            background-color: transparent;
            color: $pink;
        }
    }

    &-danger {

        border: 1px solid $light-pink;
        background-color: $light-pink;
        &:hover {
            background-color: transparent;
            color: $light-pink;
        }
    }

    &-outline-pink {

        border: 1px solid $pink;
        background-color: $white;
        color: $pink;
        &:hover {
            background: lighten($pink, 26%);
        }
    }

    &.little {
        padding: 4px 12px;
        font-size: 12px;
    }


}