// a revoir trop spécifique

.btn {
    color: var(--bg-color);
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
    border-radius: 6px;
    padding: 12px 24px ;
    transition: .3s ease;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &-pink {

        border: 1px solid var(--btn-color);
        background-color: var(--btn-color);
        &:hover {
            background-color: transparent;
            color: var(--btn-color);
        }
    }

    &-danger {

        border: 1px solid var(--btn-color-light);
        background-color: var(--btn-color-light);
        &:hover {
            background-color: transparent;
            color: var(--btn-color-light);
        }
    }

    &-success {

        border: 1px solid $green-success;
        background-color: $green-success;
        &:hover {
            background-color: transparent;
            color: $green-success;
        }
    }

    &-outline-pink {

        border: 1px solid var(--btn-color);
        background-color: var(--bg-color);
        color: var(--btn-color);
        &:hover {
            background-color: var(--btn-outline);
        }
    }

    &.little {
        padding: 4px 12px;
        font-size: 12px;
    }


}