.input {
    outline: none;
    border: 1px solid var(--ph-color);
    border-radius: 10px;
    padding:  .65em .8em ;
    line-height:.65em;
    font-size: 16px;
    color: var(--text-color);
    transition: .2s ease;

    &-pink {
        &:focus {
            border: 1px solid var(--btn-color);
            background-color: var(--btn-color-shadow);
        }
    }

    &-search {
        width: 200px;
        &:focus {
            border: 1px solid $light-gray; 
        }
    }

    &-color {
        height: 32px;
        padding: 2px;
        width: 48px;
        border-radius: 4px;
    }

    &.error {
        border: 1px solid $error;
    }

    
}

textarea {
    line-height: 1.6em !important;
}

input::placeholder {
    color: var(--ph-color) !important;
}