
// a revoir trop spécifique et a mettre sous forme de classe
.input {

    outline: none;
    border: 1px solid #E2E2E2;
    border-radius: 10px;
    padding:  .65em .8em ;
    line-height:.65em;
    font-size: 16px;
    color: #04172F;
    transition: .2s ease;

    &-pink {
        &:focus {
            border: 1px solid #FF409C;
            background-color: rgba(191, 15, 121, 0.03);
    
        }
    }

    &-search {
        width: 200px;
        &:focus {
            border: 1px solid $light-gray; 
        }
    }

    &-color {
        height: 32px;
        padding: 2px;
        width: 48px;
        border-radius: 4px;
    }

    &.error {
        border: 1px solid #E77280;
    }

    
}

input::placeholder {
    color: #E2E2E2;
}