.link {
    transition: 0.3s;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    &.active{
        font-weight: bold;
    }
    &-black {
        color: $black;
        border-bottom: 1px solid transparent;

        &:hover {
            border-bottom: 1px solid $black;
        }
    }
    &-danger {
        color: $light-pink;

        &:hover {
            border-bottom: 1px solid $light-pink;
        }
    }
}