.link {
    transition: 0.3s;
    cursor: pointer;
    &.active{
        font-weight: bold;
    }
    &-black {
        color: $black;

        &:hover {
            border-bottom: 1px solid $black;
        }
    }
}