
.list {
    padding: 48px;
    @include breakpoint(tablet) {
        padding: 48px 0;
    }
    width: 100%;
}


.table-container {
    
    @include flex;
    gap: 48px;
    position: relative;
    .table {
        flex-grow: 1;
        width: auto;

        #list-table {
            width: 100%; 
            
            td {
                padding: 12px;
            }
            tbody {
                td {
                    border-top: 1px solid $light-gray;
                    cursor: pointer;
                    @include breakpoint(tablet) {
                        &:nth-child(n+3) {
                            display: none;
                        }
                    }
                }
                tr:hover {
                    background-color: rgb(241, 241, 241);
                }
            }

        }

        
    }
    @include breakpoint(tablet) {
        .table {
            width: 100%;
        }
    }

    .aside-info {

        opacity: 0;
        transition: 0.3s;
        width: 400px;
        
    
        &.show {
            opacity: 1;
        }
    
        @include breakpoint(tablet) {
            overflow: hidden;
            opacity: 1;
            position: fixed;
            width: calc(100vw - 48px);
            z-index: 1;
            right: calc(-100vw);
            top: 8vh;
            &.show {
                right: 24px;
            }
    
        }
    }
}

// ------ edit datatables css ------ //

// pagination
.dataTables_paginate {
    margin-top: 16px !important;

    .paginate_button {
        padding: 4px 8px !important;
        border-radius: 5px !important;
        border: 1px solid $light-gray !important;
        background-color: var(--bg-color) !important;
        min-width: 28px;
        margin-left: 4px !important;
    }
    
    .paginate_button.previous, .paginate_button.next {
        padding: 4px 6px !important;
        cursor: pointer !important;
    }
    
    .paginate_button.previous {
        transform: rotate(180deg);
        margin-left: 0px !important;
    }
}

//searching

.dataTables_filter {
    display: none;
}