.selector-button {
    font-weight: 800;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px $light-gray;
    height: 68px;
    background-color: white;
    z-index: 2;
    &.login {
        border-radius: 12px 0 0 0;
    }

    &.register {
        border-radius: 0 12px 0 0;
    }

    &.selected {
        color: $pink;
        border: solid 1px $pink;
        z-index: 2;
    }
}


.smooth-div {
    animation: smoothTransition 0.5s linear;
}

.bulle-1, .bulle-2, .bulle-3, .bulle-4 {
    background: transparent;
    position: fixed;
    opacity: 0.8;
    @include breakpoint(tablet) {
        display: none;
    }
}

.bulle-1 {
    top: 30vh;
    left: -100px;
    z-index: 2;
}
.bulle-2 {
    top: 45vh;
    left: 100px;
    height: 220px;
    width: 220px;
}
.bulle-3 {
    top: 50vh;
    right: -100px;
    z-index: 2;

}
.bulle-4 {
    top: 48vh;
    right: 100px;
    height: 220px;
    width: 220px;
}



