.navbar {
    height: 100vh;
    width: 217px;
    background-color: $white;
    transition: 0.5s;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;

    & > div .burger-menu {
        display: none;
        cursor: pointer;
    }

    @include box-shadow;
    @include breakpoint(tablet) {
        left: -100vw;
        width: 100vw;

        & > div .burger-menu {
            display: block;
            position: fixed;
            top: 30px;
            right: 24px;
        }

        &.open {
            left: 0px;
        }
    }
}

.navbar-front {
    @include box-shadow;

    width: 100%;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    nav {
        ul {
            font-weight: 500;
            width: 600px !important;
            display: flex;
            justify-content: space-between;
    
            li {
                cursor: pointer;
            }
        }
    }
    
    section {
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        a {
            font-size: 16px;
            width: 140px;
            display: flex;
            align-items: center;
            padding: .2em;
            gap: 8px;
        }
    }
}

.main {
    padding-left: 217px;
    min-height: 100vh;
    & > *:first-child {
        min-height: 100vh;
    }
    @include breakpoint(tablet) {
        padding-left: 0px;
    }
}
