.navbar {
    height: 100vh;
    width: 217px;
    background-color: $white;
    transition: 0.5s;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;

    & > div .burger-menu {
        display: none;
        cursor: pointer;
    }

    @include box-shadow;
    @include breakpoint(tablet) {
        left: -100vw;
        width: 100vw;

        & > div .burger-menu {
            display: block;
            position: fixed;
            top: 30px;
            right: 24px;
        }

        &.open {
            left: 0px;
        }
    }
}

.navbar-front {
    @include box-shadow;
    padding: 0 80px;
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    transition: .5s ease;
    z-index: 10;
    background-color: $white;

    .burger-menu {
        cursor: pointer;
        display: none;
    }
    nav {
        ul {
            font-weight: 500;
            width: 600px !important;
            display: flex;
            justify-content: space-between;
    
            li {
                cursor: pointer;
            }
        }
    }
    
    section {
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        a {
            font-size: 16px;
            width: 140px;
            display: flex;
            align-items: center;
            padding: .2em;
            gap: 8px;
        }
    }
    @include breakpoint(tablet) {
        height: 100vh;
        padding: 0 20px;
        position: absolute;
        transform: translateX(100vw); 
        flex-direction: column;
        nav {
            div {
                border-bottom: 1px solid;
                width: 100%;
                img {
                    height: 78px;
                }
            }
            flex-direction: column;
            align-items: flex-start  !important;
            ul {
                border-bottom: 1px solid;
                width: 100% !important;
                flex-direction: column;
                gap: 2em;
                padding-bottom: 1em;
            }
        }
 
    }
    &.open {
        transform: translateX(0vw); 
        
    }
}



.burger-menu {
    z-index: 20;
    display: none;
    @include breakpoint(tablet) {
        
            cursor: pointer;
            display: block;
            position: fixed;
            top: 30px;
            right: 24px;
         
    }
}


.main {
    padding-left: 217px;
    min-height: 100vh;
    & > *:first-child {
        min-height: 100vh;
    }
    @include breakpoint(tablet) {
        padding-left: 0px;
    }
}
