.showcase {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    > section {
        background-color:var(--btn-color);
        border-radius: 5px;
        padding:  .5em 1em;
        margin-bottom: 12px;
        cursor: pointer;
        transition: ease .2s;
        > span {
            color: (--bg-color);
            background-color: var(--btn-color);
            &.remove {
                font-weight: bold;
                margin-left: .5em;
            }
        }
        
        &:hover {
            transform: scale(1.05);
        }
    }
}

.search {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    z-index: 2;
    max-height: 350px;
    border-radius: 5px;
    margin-top: .5em;
    overflow-y: auto;
    border: 1px solid var(--btn-color);
    top: 100%;
    width: 100%;
    > section {
        transition: .2s ease;
        background-color: var(--bg-color) !important;
        cursor: pointer;
        padding: 1em;
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--btn-color-shadow);
        > span {
            .valid {
                font-weight: bold;

                color: $green-success;
            }
        }
        &:hover {
            background-color: var(--btn-outline);
        }
        &:last-child {
            border-bottom: none;
        }
    }
}