.wysiwyg {
    max-width: 100%;
    word-wrap: break-word;
    white-space: pre-line;
    .codex-editor__redactor {
        padding-bottom: 24px !important;
    }
}

.ce-block__content, .ce-toolbar__content { max-width:calc(100% - 80px) !important; } .cdx-block { max-width: 100% !important; }

.codex-editor__redactor {
    padding-bottom: 24px !important;
    min-height: 400px;
}
.writer {
    min-height: 500px;
}