fieldset {
    width: 100%;
    padding: 0px;
    border: none;
    margin: 0px;
    margin-top: .5em;

    display: flex;
    flex-direction: column;

    label {
        font-size: 16px;
        margin-bottom: .3em;
        &.error {
            margin-left: .2em;
            font-size: 10px;
            color: #E77280;
        }
    }
    input {
        margin-top: .3em;
    }
    
}