@mixin box-shadow {
    -webkit-box-shadow: 0px 4px 17px 3px ; 
    box-shadow: 0px 0px 17px 3px var(--shadow-color);
}

@mixin breakpoint($class) {
    @if $class==xs {
      @media (max-width: 767px) {
        @content;
      }
    }
    @else if $class==tablet {
      @media (max-width: 900px) {
        @content;
      }
    }
    @else if $class==lg {
      @media (max-width: 1200px) {
        @content;
      }
    }
    @else {
        @warn "Breakpoint mixin supports: xs, tablet, lg";
    }
}


@mixin flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;

}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

}