
@mixin grid-container-row($i) {
    display: flex;
    flex-direction: column;
    gap: $gutter-width;
    flex-grow: $i;
    min-width: calc((($i / ($col-nb)) * 100%) - $gutter-width);
    width: calc((($i / ($col-nb)) * 100%) - $gutter-width);
}

@mixin grid-container-col($i) {
    gap: $gutter-width;
    flex-grow: $i;
    min-height: calc((($i / ($col-nb)) * 100%) - $gutter-width);
    height: calc((($i / ($col-nb)) * 100%) - $gutter-width);
}



.grid {
    width: 100%;

    .col {
        display: flex;
        flex-direction: column;

        &.a-start {
            align-items: flex-start;
        }
        &.a-end {
            align-items: flex-end; 
        }
        &.j-start {
            justify-content: flex-start;
        }
        &.j-bet {
            justify-content: space-between;
        }

        @for $i from 1 through $col-nb {
            .row-lg-#{$i} {
                @include grid-container-col($i);

            }
        }

        @media screen and (max-width: $md-breakpoint) {
            @for $i from 1 through $col-nb {
                .row-lg-#{$i} {
                    @include grid-container-col($i);

                }
            }
        }
        @media screen and (max-width: $sm-breakpoint) {
            @for $i from 1 through $col-nb {
                .row-lg-#{$i} {
                    @include grid-container-col($i);

                }
            }
        } 
        
    }

    .row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: $gutter-width;

        &.a-start {
            align-items: flex-start;
        }
        &.a-end {
            align-items: flex-end; 
        }
        &.j-start {
            justify-content: flex-start;
        }
        &.j-bet {
            justify-content: space-between;
        }
        &.j-end {
            justify-content: flex-end;
        }

        @for $i from 1 through $col-nb {
            .col-lg-#{$i} {
                @include grid-container-row($i);

            }
        }

        @media screen and (max-width: $md-breakpoint) {
            @for $i from 1 through $col-nb {
                .col-lg-#{$i} {
                    @include grid-container-row($i);

                }
            }
        }
        @media screen and (max-width: $sm-breakpoint) {
            @for $i from 1 through $col-nb {
                .col-lg-#{$i} {
                    @include grid-container-row($i);

                }
            }
        } 
        

    }
}
