//colors
$black: #111111;
$white: #fff;
$pink: #FF5E84;
$light-pink: #E77280;
$light-gray: #D4D4D4;


// spacing
$gutter-width: 16px;
$gap: 12;

//breakpoint
$col-nb: 12;
$sm-breakpoint: 768px;
$md-breakpoint: 992px;
$lg-breakpoint: 1200px;

