//colors
$black: #111111;
$white: #fff;
$pink: #ff5e84;
$light-pink: #e77280;
$light-gray: #9e9e9e;
$green-success: #4BB543;


// spacing
$gutter-width: 16px;
$gap: 12;

//breakpoint
$col-nb: 12;
$sm-breakpoint: 768px;
$md-breakpoint: 992px;
$lg-breakpoint: 1200px;
